body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-color: blue;*/
  color: #666666;
}

a {
  color: #00B7FF;
}

#recents ul{
	margin-top:10px;
}

.messageRow{
	font-weight:bold;
	padding-bottom:10px;
	padding-left:15px;
	margin-top:10px;
	border-bottom:1px solid #cccccc;
	border-left:2px solid #cccccc;
	font-size:0.9em;
	padding-top:5px;
}

.messageRow:hover{
	background-color:#F5F5F5;
}